{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}
    <h1>Book Reviews 4 U</h1>
    <br>
    <p id="Welcome">
        Welcome to the Internet's premier book reviewing website!
    </p>
    <form action="" method="POST">
        <p>Let's get you setup with an account!</p> 
        <input name="newUser" type="text" placeholder="Username">
        <input name="newPass" type="password" placeholder="Password">
        <button>Create</button>
    </form>
    <img src="https://images.freeimages.com/images/large-previews/007/books-1419617.jpg" alt="books"
         style="max-width: 70%; padding-top: 10px;">
    <h3>Already a User?</h3>
    <a href="/login">Click here!</a>

{% endblock %}
