{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<form action="{{ url_for('verify') }}" method="GET">
    <h1>Login</h1>
    <br>
    <input name="existingUser" type="text" placeholder="Username">
    <input name="existingPass" type="password" placeholder="Password">
    <button>Login</button>
</form>
<img src="https://images.freeimages.com/images/large-previews/007/books-1419617.jpg" alt="books"
style="max-width: 70%; padding-top: 10px;">

{% endblock %}
